.input_box {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 2px;
    background-color: rgb(222, 222, 222);
    padding: 5px;
    border-radius: 24px;
    cursor: pointer;
    user-select: none;
    transition: scale 0.2;
    &:hover {
        scale: 0.95;
    }
}

.dropdown {
    position: absolute;
    background-color: rgb(222, 222, 222);
    width: fit-content;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 2px 1px 4px rgba(0,0,0,0.15);
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    transition: 0.2s;
    opacity: 0;
    visibility: hidden;
    transition: .2s ease-out;
    transform-origin: top-left;
    transform: translateY(-8px) scale(0.95);
    user-select: none;
    list-style: none;

    &.open {
        opacity: 1;
        visibility: visible;
        transform: translateY(0) scale(1);
    }

    li {
        background-color: rgb(222, 222, 222);
        padding: 8px 12px;
        color: var(--text-primary);
        border-radius: 10px;
        cursor: pointer;
        &:hover {
            background-color: rgb(232, 232, 232);
        }
    }
}