.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 1rem;
}

.box {
  background-color: var(--bg-secondary);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}

.div {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 8px;
}