.button {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    background: var(--gradient-accent);
    transition: 0.2s;
    
    &:hover {
        scale: 0.95;
    }
}