.rowHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.taskContext {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: scroll;
    box-sizing: border-box;
    border-radius: 24px;

    &::-webkit-scrollbar {
        width: 6px;
        transition: .2s;
    }

    ::-webkit-scrollbar-thumb {
        transition: all .3s;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: var(--light-accent);
    }
}